@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h2>Our Working Team</h2>
<p>
    Our team is highly trained and hard-working. Although, everything is virtual; we still are in need 
    of job positions that are available over the phone or online. Our team is composed of many different 
    levels of employ; we are also associated with FedEx to expedite products to users on the East of the Mississippi River.
</p>

<h2>What We are About</h2>
<p>A webstore that provides the best deals on all the National Football Leagues'
    merchandise for all teams except for the Greenbay Packers! You can find a numerous
    amount of items that are either signed or unsigned: flags, jerseys, footballs,
    helmets, or even a lock of your favorite football player's hair!
    As an added bonus we will even give a 50% discount on all Minnesota Vikings
    gear! WOW, now that is a high-tech virtual webstore if you have asked me!
    Our favorite saying is, "I'll take two" because we only like to sell to
    customers who are as big as football fans as we are!
    Come on in! Stay a while, just don't stay too long; we are very passionate about
    our customers' well-being--don't get an eye strain!</p>

<h2>Want a Job?</h2>
<p>
    If you would like to apply, we do over the phone interviews and you are allowed to work
    from your home for a starting pay of $10.00 an hour. During the interviewing process
    we will give you a job title and more information on what the job entails.
</p>
