@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    NFL Merch Store<br />
    600 Spruce Ave, Harrisburg, PA 57032<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Jobs:</strong> <a href="mailto:Marketing@example.com">Jobs@example.com</a>
</address>