@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>WARNING!!!!</strong></h1>
    <p class="lead">NFLephant is a massive NFL online store that is both monstrous like an elephant and has been known to cause users to faint. </p>
    <h6>The NFLephant Corporation is not responsible for our viewers' health and will not compensate for any injuries endured while 
    on our website. <br/>
    Viewer Discretion is Advised <br/></h6>

    <p><a href="https://en.wikipedia.org/wiki/Discretion" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Logisitics</h2>
        <p>
            NFLephant is designed to give users an easy, versatile shopping experience. Connect to the website and add 
            your own NFL memorabilia to either share with other users or you can put a price tag on it and wait to see 
            if you get an offer! We will ship your product for free if the transaction is being delt on the East side of
            the Mississippi River; we are owners of all the FedEx stores in each state on the East side of the Mississippi.
            If you are West of the Mississippi River, unfortunately, you will have to provide shipping to the buyer or vice versa.
            If you are unsure whether you are qualified for free shipping or not, see the learn more button below for further information.
        </p>
        <p><a class="btn btn-default" href="https://prophoto4-discount-code.com/Extra-Services/26States.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prerequisites</h2>
        <p>In order to share or view signed NFL gear you need to be an avid fan of the NFL, you need to contribute
        to the online store with your own gear--don't be greedy--whether it is for viewing purposes or selling purposes, and 
        you will need to know your way around a computer, a mouse, and a keyboard. If you need more information on how much your NFL gear may be worth, navigate to the learn more button 
        below to get an estimate.</p>
        <p><a class="btn btn-default" href="http://www.sportsmemorabilia.com/sports-memorabilia/football/?utm_campaign=NFL%20-%20(Generic)%20-%20Autographed|151536190&utm_medium=ppc&ks_id=6251_kw10220717&utm_term=%2Bnfl%20%2Bsigned&matchtype=bb&utm_source=o&target=kwd-115059800439&pcrid=76003743740777&adposition={adposition}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>If you are ready to share your NFL memorabilia or view/purchase other's memorabilia, then 
        this website is perfect for you! Unlike other NFL webstores out there, NFLephant allows for avid
        sports members to share and sell their signed gear hassle free, getting started is quicker and easier than ever. </p>
        <p><a class="btn btn-default" href="http://localhost:50395/index.aspx">Get Started &raquo;</a></p>
    </div>
</div>